@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 0 0% 45%;
    --primary-foreground: 28 91% 54%;
    --background: 0 0% 100%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --primary: 24.6 95% 53.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 24.6 95% 53.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    font-family: "Inter", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    cursor: -webkit-image-set(
      url(https://i-p.rmcdn.net/6704dad37ea051caab873de5/image-43d04120-2be7-40ea-b343-9b6ac47e3c0a.png?w=15) 1x,
      url(https://i-p.rmcdn.net/6704dad37ea051caab873de5/image-43d04120-2be7-40ea-b343-9b6ac47e3c0a.png) 2x
    ), pointer;
  }
}

@layer utilities {
  ::-moz-selection {
    /* Code for Firefox */
    background: #a2a2a2;
    color: white;
  }

  ::selection {
    background: #a2a2a2;
    color: white;
  }
}

.cursor-next {
  cursor:
    url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20version='1.1'%20viewBox='0%200%2059.9%2073.9'%3E%3Cdefs%3E%3Cstyle%3E.st0%20%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20d='M-17.9%2C0h0Z'%2F%3E%3Cpath%20class='st0'%20d='M.2.1l36.7%2C36.8L0%2C73.7c5%2C0%2C9.9%2C0%2C14.9%2C0-1.1%2C0%2C3.9%2C0%2C8%2C0l37-37L23%2C0C15.4%2C0%2C7.8%2C0%2C.2.1Z'%2F%3E%3C%2Fsvg%3E")
      16 16,
    pointer;
}

.cursor-prev {
  cursor:
    url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20version='1.1'%20viewBox='0%200%2059.9%2073.9'%3E%3Cdefs%3E%3Cstyle%3E.st0%20%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20d='M-17.9%2C0h0Z'%2F%3E%3Cpath%20class='st0'%20d='M59.7.1l-36.7%2C36.8L59.9%2C73.7c-5%2C0%2C-9.9%2C0%2C-14.9%2C0%201.1%2C0%2C-3.9%2C0%2C-8%2C0l-37-37L36.9%2C0C44.5%2C0%2C52.1%2C0%2C59.7.1Z'%2F%3E%3C%2Fsvg%3E")
      16 16,
    pointer;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
