@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 0 0% 45%;
    --primary-foreground: 28 91% 54%;
    --background: 0 0% 100%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --primary: 24.6 95% 53.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 24.6 95% 53.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    font-family: "Inter", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    cursor: -webkit-image-set(
      url(https://i-p.rmcdn.net/6704dad37ea051caab873de5/image-43d04120-2be7-40ea-b343-9b6ac47e3c0a.png?w=15) 1x,
      url(https://i-p.rmcdn.net/6704dad37ea051caab873de5/image-43d04120-2be7-40ea-b343-9b6ac47e3c0a.png) 2x
    ), pointer;
  }
}

@layer utilities {
  ::-moz-selection {
    /* Code for Firefox */
    background: #a2a2a2;
    color: white;
  }

  ::selection {
    background: #a2a2a2;
    color: white;
  }
}

.cursor-next {
  cursor:
    url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='120' height='120' style='fill: rgb(255, 255, 255);'>%09%09%09%09%09%09%09<path d='M16.5 11.5 L24.5 19.5 L16.5 27.5' stroke-linejoin='round' stroke-linecap='round' style='fill:none; stroke:%23ffffff; stroke-width:5px'></path>%09%09%09%09%09%09</svg>")
      16 16,
    pointer;
}

.cursor-prev {
  cursor:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='120' height='120' style='fill:rgb(255,255,255);'%3E%3Cpath d='M23.5 11.5 L15.5 19.5 L23.5 27.5' stroke-linejoin='round' stroke-linecap='round' style='fill:none;stroke:%23ffffff;stroke-width:5px'%3E%3C/path%3E%3C/svg%3E")
      16 16,
    pointer;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
